.mainPage {
  height:100vh;
  background-color: #f9df4a;

}
.mainPage .jumbotron {
  background-color: #f9df4a;
}
.jumbotron {
    position: relative;
    padding: 50px 50px 25px 50px;
    margin-bottom: 0px;
}
.jumbotron h1 {
    font-family: oran;
    font-size: 3.5em;
    /* -webkit-font-smoothing: antialiased; */
}
.jumbotron h1 i {
    font-size: 0.6em;
}
@font-face {
    font-family: oran;
    src: url('../fonts/Forum-egular.ttf');
}


.headingBio {
    font-family: oran;
    font-size: 2em;
}
.subHeadingBio {
    padding-top: 20px;
}

a {
    color: black;
    text-decoration: underline;
}
a:link {
    text-decoration: underline;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
.subHeadingBio a:link {
    text-decoration: underline;
    color: black;
}
.subHeadingBio a:hover {
    text-decoration: none;
    color: black;
}
.aboutFooter {
    z-index: 2;
    background-color: #f9df4a;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 2em;
    font-family: oran;
}
.freelancin {
  padding-top:20px;
  font-family: oran;
}

.freelancin a {
  color: black;
}
