.mainPage {
  height:100vh;
  background-color: #f9df4a;

}
.mainPage .jumbotron {
  background-color: #f9df4a;
}
.jumbotron {
    position: relative;
    padding: 50px 50px 25px 50px;
    margin-bottom: 0px;
    text-align: center;
}
.jumbotron h1 {
    font-family: oran;
    font-size: 3.5em;
    /* -webkit-font-smoothing: antialiased; */
}
.jumbotron h1 i {
    font-size: 0.6em;
}


.headingBio {
    font-size: 2em;
}
.subHeadingBio {
    padding-top: 20px;
}

a {
    color: black;
    text-decoration: underline;
}
a:link {
    text-decoration: underline;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
.subHeadingBio a:link {
    text-decoration: underline;
    color: black;
}
.subHeadingBio a:hover {
    text-decoration: none;
    color: black;
}
.aboutFooter {
    z-index: 2;
    background-color: #f9df4a;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 2em;
}
.freelancin {
  padding-top:20px;
}

.freelancin a {
  color: black;
}


#titleMain {
  font-family: "acier-bat-noir",sans-serif;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

#bodyMain {
  font-size: 2.5em;
  margin-top: 2em;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width: 320px) and (max-width: 481px) {
  .jumbotron h1 {
      font-size: 6em;
  }
  .headingBio {
      font-size: 2em;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width: 481px) and (max-width: 640px) {
  .jumbotron h1 {
      font-size: 10em;
  }
  .headingBio {
      font-size: 4.2em;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 640px) and (max-width: 960px) {
  .jumbotron h1 {
      font-size: 8em;
  }
  .headingBio {
      font-size: 3.4em;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 960px) and (max-width: 3000px) {
  .jumbotron h1 {
      font-size: 6em;
  }
  .headingBio {
      font-size: 2.8em;
  }
}
