body {
  background-color: #f9df4a;
}
.jumbotron {
  /*background-color: #f9df4a;
  background-color: #f4f0d4;
  background-color:#ffffff;*/
  background-color: #f9df4a;
  position:relative;
  padding: 50px 50px 25px 50px;
  margin-bottom: 0px;

}
.jumbotron h1 {
  font-family: oran;
  font-size: 3.5em;
  /* -webkit-font-smoothing: antialiased; */
}

.jumbotron h1 i {
  font-size: 0.6em;
}
@font-face {
    font-family: oran;
    src: url('../fonts/Forum-egular.ttf');
}
.about {
  padding-left: 50px;
  font-family: oran;

}
.blog {
  font-size:1.5em;
  padding-left: 50px;
  font-family: oran;
}
.projects {
  font-size:1.5em;
  padding-left: 50px;
  font-family: oran;
}
.headingBio {
  font-family: oran;
  font-size: 2em;
}
.subHeadingBio {
  padding-top: 20px;
}
.about-container ul {
  list-style:none;
  padding-left:0;
  font-family: oran;
  font-size: 2em;
}
a {
  color: black;
  text-decoration: underline;
}
a:link {
  text-decoration: underline;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}
.subHeadingBio a:link {
  text-decoration: underline;
  color: black;
}
.subHeadingBio a:hover {
  text-decoration: none;
  color: black;
}

.aboutFooter {
  z-index:2;
  background-color:#f9df4a;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding-left: 50px;
  padding-bottom: 10px;
  font-size: 2em;
  font-family: oran;
}
.aboutFooter i {
  font-size: 0.6em;
}
.socialStuff div {
  padding-top:25px;
  font-size: 2em;
  font-family: oran;
}

.blog-body {
  font-family: oran;
  font-size: 1.5em;
  padding-left:50px;
}
.blog-body li {
  list-style-type: none;
}

.blog-body .blog-title {

}

.blog-body .blog-content {

}

.blog-body .blog-footer {

}
